.single-container
  %h1
    管理者ページ

  = link_to "ユーザー一覧", admin_users_path, class: "btn btn-outline-dark"
  = link_to "仕事一覧", admin_job_index_path, class: "btn btn-outline-dark"
  = link_to "クラス一覧", admin_group_index_path, class: "btn btn-outline-dark"
  = link_to "生徒一覧", admin_student_index_path, class: "btn btn-outline-dark"